*, *::before, *::after {
    box-sizing: border-box;
}

.title-link {
    color: black;
    text-decoration: none;
    padding-top: 15px;
}

.container {
    width: 90%;
    overflow: hidden;
}

/* .title-link:hover {
    animation: "beer-fill" 1s ease-out forwards;
}

@keyframes beer-fill {
    0% {
        background: rgb(255,199,0);
        background: -moz-linear-gradient(0deg, rgba(255,199,0,1) 0%, rgba(0,0,0,1) 20%, rgba(0,0,0,1) 100%);
        background: -webkit-linear-gradient(0deg, rgba(255,199,0,1) 0%, rgba(0,0,0,1) 20%, rgba(0,0,0,1) 100%);
        background: linear-gradient(0deg, rgba(255,199,0,1) 0%, rgba(0,0,0,1) 20%, rgba(0,0,0,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffc700",endColorstr="#000000",GradientType=1);
    }

    50% {
        background: rgb(255,199,0);
        background: -moz-linear-gradient(0deg, rgba(255,199,0,1) 0%, rgba(0,0,0,1) 55%, rgba(0,0,0,1) 100%);
        background: -webkit-linear-gradient(0deg, rgba(255,199,0,1) 0%, rgba(0,0,0,1) 55%, rgba(0,0,0,1) 100%);
        background: linear-gradient(0deg, rgba(255,199,0,1) 0%, rgba(0,0,0,1) 55%, rgba(0,0,0,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffc700",endColorstr="#000000",GradientType=1);
    }

    100% {
        background: rgb(255,199,0);
        background: -moz-linear-gradient(0deg, rgba(255,199,0,1) 0%, rgba(0,0,0,1) 78%, rgba(0,0,0,1) 100%);
        background: -webkit-linear-gradient(0deg, rgba(255,199,0,1) 0%, rgba(0,0,0,1) 78%, rgba(0,0,0,1) 100%);
        background: linear-gradient(0deg, rgba(255,199,0,1) 0%, rgba(0,0,0,1) 78%, rgba(0,0,0,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffc700",endColorstr="#000000",GradientType=1);
    }
} */

